footer
    div.container
        div.row.m-t-36
            div.col-xs-12.col-sm-12.col-md-4.text-center
                h5 New Haven County Office
                div.inline
                    a(href="tel2039096520") 203-909-6520
                |   &nbsp; Fax 203-443-4277
            div.col-xs-12.col-sm-12.col-md-4.text-center
                h5 New Haven County Office
                div.inline
                    a(href="tel2039096520") 203-909-6520
                |   &nbsp; Fax 203-443-4277
            div.col-xs-12.col-sm-12.col-md-4.text-center
                h5 New Haven County Office
                div.inline
                    a(href="tel2039096520") 203-909-6520
                |   &nbsp; Fax 203-443-4277
        div.row.text-center.hidden-xs.hidden-sm
            div.navbar-header
                button(type="button", data-toggle="collapse", data-target="#example-navbar-collapse").navbar-toggle
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href="#").navbar-brand.text-uppercase
            div#example-navbar-collapse.collapse.navbar-collapse
                ul.nav.navbar-nav.text-uppercase
                    li.active 
                        a(href="#") Home
                    li 
                        a(href="#") about us
                    li 
                        a(href="#") live-in home care
                    li 
                        a(href="#") hourly home care
                    li 
                        a(href="#") payment options
                    li 
                        a(href="#") news & resources
                    li 
                        a(href="#") faqs
        br
        div.row
            div.col-xs-12.footer-social-icons.text-center
                ul.social-icons
                    li
                        a(href='https://twitter.com/')#icon-twitter
                          span Twitter
                    li
                        a(href='https://www.instagram.com/')#icon-instagram
                          span Instagram
                    li
                        a(href='https://plus.google.com/')#icon-google
                          span Google+
                    li
                        a(href='https://www.facebook.com/')#icon-facebook
                          span Facebook
                    li
                        a(href='https://www.facebook.com/')#icon-youtube
                          span youtube
        br
        div.row
            p
                span @Copyright 2016 CareCo Shoreline