title careco
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js" type="text/javascript")
script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js" type="text/javascript")
link(href="/stylesheets/main.css" rel="stylesheet")
script(src="https://use.typekit.net/vts3ubb.js" type='text/javascript')
script(type='text/javascript').
    try {Typekit.load({ async: true })}catch(e){}
 