header.header
    div.container
        div.row
            div.col-xs-12.col-sm-12.col-md-4.text-left
                a.phone(href="tel:860-442-2731") 
                    strong 860-442-2731
                span &nbsp; | &nbsp;
                a.contactus.text-uppercase(href="#") CONTACT US 
            div.col-xs-12.col-sm-12.col-md-4.text-center
                img#logo.img-responsive(src="/careCo_logo.png")
            div.hidden-xs.hidden-sm.col-md-4.text-right
                p.location.text-uppercase location
    nav.navbar.navbar-default(role="navigation").text-center
        div.navbar-header
            button(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false").navbar-toggle.collapsed
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        div#bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.text-uppercase
                li.nav-item.active 
                    a(href="/") Home
                        span.sr-only (current)
                li.nav-item 
                    a(href="/about") about us
                li.nav-item 
                    a(href="#") live-in home care
                li.nav-item 
                    a(href="#") hourly home care
                li.nav-item 
                    a(href="#") payment options
                li.nav-item 
                    a(href="#") news & resources
                li.nav-item 
                    a(href="#") faqs