doctype html
html(lang="en")
    head
        include ../partials/head.jade
    body
        include ../partials/header.jade
        div.main-banner
            div.container.home-banner
                div.row
                    div.col-xs-12
                        p.banner-text Working to help you maintain 
                            span
                                strong independence 
                                |   and 
                                strong diginity
                                |   at home
            div.banner-images-div.pos-relative
                img.banner-image.img-responsive(src="/slider2_comp.jpg")
                img.banner-image-layer.img-responsive(src="/careCo_sliderOverlay.png")
        div.pos-relative.banner-2
            div.container
                div.row.banner-row.text-center
                    div.col-xs-6.col-sm-5.text-right
                        div.banner-circle.banner-circle-1.text-uppercase
                            p schedule 
                                br 
                                strong a free
                                |   assessment
                    div.hidden-xs.col-sm-1
                    div.col-xs-6.col-sm-5.text-left
                        div.banner-circle.banner-circle-2.text-uppercase
                            p Request an 
                                strong information 
                                | packet
                div.row
                    div.col-xs-12.col-sm-12.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2.textimonials.text-center
                        img(src="/quote.png" width="108").img-responsive.img-cot
                        blockquote
                            p Testimonial goes here careco TestimonTestimonial goes here careco ial goes here careco 
                                | Testimonial goes here careco TestimonTestimonial goes here careco
                            p.text-right.small
                                span.text-uppercase name,town state
                br
        br
        br
        div.article-1
            div.container.m-b-17
                div.row
                    div.col-xs-12.col-sm-12.col-md-8.back-flowers
                        div.row
                            div.col-xs-10.intro-inner
                                h2.text-uppercase.fs-32 
                                    strong Serving all of connecticut
                                p CareCo Shoreline is a personal, cost-effective resource that provides a multitude of services to the client in the comfort of their own home.
                                p Our goal is to provide clients and the families with help and support they need to both a physically and mentally healthy environment.
                                p
                                    strong Our staff is available 24/7 to speak with you.
                                    br
                                p    
                                    strong 24-hour emergency number: 
                                        a(href="tel:8607058075") 860-705-8075
                    div.col-xs-12.col-sm-12.col-md-4.div-aip
                        img(src="/home_pic_comp.jpg" width="180" height="auto").img-responsive.img-aip
                        div.circle-aip.text-center
                            div 
                                span Aging in Place
                                br
                                | Ovitia poria 
                                br 
                                | Ovitia poria 
                                br 
                                | Ovitia poria 
                                br
                                | Ovitia poria
                                br
                                span.text-uppercase Access
                br
                br
                br
                div.row.text-center
                    div.col-xs-12.col-sm-4.col-md-4
                        div.circle-skyblue.inline-block
                            img(src="/location_icon.png").img-responsive.circle-icons
                            p
                                span Locations
                                br
                                |   3 convenient
                                br
                                |   locations to
                                br
                                |   server you
                    div.col-xs-12.col-sm-4.col-md-4
                        div.circle-skyblue.inline-block
                            img(src="/cost_icon.png").img-responsive.circle-icons
                            p
                                span What does it cost?
                                br
                                |   loreul ipsum
                                br
                                |   loreul ipsum
                                br
                                |   loreul ipsum
                    div.col-xs-12.col-sm-4.col-md-4
                        div.circle-skyblue.inline-block
                            img(src="faq_icon.png").img-responsive.circle-icons
                            p
                                span FAQS
                                br
                                |   loreul ipsum
                                br
                                |   loreul ipsum
                                br
                                |   loreul ipsum
    include  ../partials/footer.jade